<!-- <div class="content-header">  
<h1>{{}}</h1>
</div> -->
<div class="content-body">
  <div class="form-horizontal mt20">    
    <div class="control-group">
      <label class="control-label" for="">标题：</label>
      <div class="controls">
        <input type="text"  value="{{OName}}" name="OName">
        <span class="help-inline"></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="">类型：</label>
      <div class="controls">
        <input type="text"  value="{{OType}}" class="hide"  disabled>
        <span class="help-inline mt4">{{type}}</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="">联系人：</label>
      <div class="controls">
        <input type="text"  value="{{Contact}}"  name="Contact">
        <span class="help-inline"></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="">地址：</label>
      <div class="controls">
        <input type="text"  value="{{Addr}}"  name="Addr">
        <span class="help-inline"></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="">电话：</label>
      <div class="controls">
        <input type="text"  value="{{Tel}}"  name="Tel">
        <span class="help-inline"></span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="">邮编：</label>
      <div class="controls">
        <input type="text"  value="{{ZipCode}}"  name="ZipCode">
        <span class="help-inline"></span>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="button" class="btn btn-primary js_sure">保存</button>
        <button type="button" class="btn js_back">返回</button>
      </div>
    </div>
  </div>  
</div>

