<div class="rs-page-sidebar">
  <div class="side-menu-scroll">
    <ul class="side-menu">
      <li><a href="#"><i class="fa fa-chevron-down pull-right"></i><i class="fa fa-tags"></i> 平台</a>
        <ul>
          <li><a href="#log/pf_bus">业务中心事件查询</a></li>
          <li><a href="#">客户端事件查询</a></li>
          <li><a href="#">客户端升级日志查询</a></li>
          <li><a href="#">升级中心日志查询</a></li>
          <li><a href="#">网络连接测试日志查询</a></li>
          <li><a href="#">客户端子产品统计</a></li>
        </ul>
      </li>
      <li><a href="#"><i class="fa fa-chevron-down pull-right"></i><i class="fa fa-tags"></i> 防病毒(XAV)</a>
        <ul>
          <li><a href="#log/XAV_VirusLogSearch">病毒扫描结果查询</a></li>
          <li><a href="#log/XAV_VirusScanLogSearch">病毒扫描事件日志</a></li>
          <li><a href="#log/SystemStrengthened">系统加固</a></li>
          <li><a href="#log/ApplyStrengthened">应用加固</a></li>
          <li><a href="#log/VirusInfo">病毒信息</a></li>
        </ul>
      </li>
      <li><a href="#"><i class="fa fa-chevron-down pull-right"></i><i class="fa fa-tags"></i> 漏洞扫描(RLS)</a>
        <ul>
          <li><a href="#">漏洞扫描结果查询</a></li>
        </ul>
      </li>
      <li><a href="#"><i class="fa fa-chevron-down pull-right"></i><i class="fa fa-tags"></i> IT资产管理(RAM)</a>
        <ul>
          <li><a href="#">硬件异动日志查询</a></li>
          <li><a href="#">设备异动日志查询</a></li>
          <li><a href="#">设备扫描日志查询</a></li>
          <li><a href="#">软件扫描日志查询</a></li>
          <li><a href="#">软件部署日志查询</a></li>
        </ul>
      </li>
      <li><a href="#"><i class="fa fa-chevron-down pull-right"></i><i class="fa fa-tags"></i> 行为审计(RBA)</a>
        <ul>
          <li><a href="#">网络审计日志查询</a></li>
          <li><a href="#">文档审计日志查询</a></li>
          <li><a href="#">文档打印日志查询</a></li>
          <li><a href="#">存储设备审计日志查询</a></li>
          <li><a href="#">外联审计日志查询</a></li>
          <li><a href="#">数据包审计日志查询</a></li>
          <li><a href="#">洪水攻击日志查询</a></li>
          <li><a href="#">共享资源访问日志查询</a></li>
          <li><a href="#">拒绝访问日志查询</a></li>
          <li><a href="#">客户端流量统计日志查询</a></li>
          <li><a href="#">联网程序日志查询</a></li>
        </ul>
      </li>
      <li><a href="#"><i class="fa fa-chevron-down pull-right"></i><i class="fa fa-tags"></i> 网络安全管理(RSM)</a>
        <ul>
          <li><a href="#">杀毒软件扫描日志查询</a></li>
          <li><a href="#">系统基本信息查询</a></li>
          <li><a href="#">计算机操作事件日志查询</a></li>
          <li><a href="#">网络设备查询</a></li>
          <li><a href="#">ARP事件日志查询</a></li>
          <li><a href="#">IP防篡改日志查询</a></li>
          <li><a href="#">恶意网址查杀日志</a></li>
        </ul>
      </li>
      <li><a href="#"><i class="fa fa-chevron-down pull-right"></i><i class="fa fa-tags"></i> 信息内容审计(RIM)</a>
        <ul>
          <li><a href="#">信息审计</a></li>
        </ul>
      </li>
      <li><a href="#"><i class="fa fa-chevron-down pull-right"></i><i class="fa fa-tags"></i> XP盾(RXP)</a>
        <ul>
          <li><a href="#">漏洞攻击日志</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div id="c-log" class="rs-page-content"></div>